@keyframes blur {
  0% {
    filter: blur(3px);
  }
  100% {
    filter: blur(8px);
  }
}

@keyframes moveLeft {
  50% {
    transform: translateX(50px);
  }
}

@keyframes moveRight {
  50% {
    transform: translateX(-50px);
  }
}

@keyframes rotate {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes sliderX {
  from {
    transform: translateX(-950px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes sliderY {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-600px);
  }
}

@keyframes moveMe {
  50% {
    transform: skewX(10deg);
  }
  80% {
    transform: skewY(10deg);
  }
}
