@keyframes blur {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(8px);
  }
}

@keyframes moveLeft {
  50% {
    transform: translateX(50px);
  }
}

@keyframes moveRight {
  50% {
    transform: translateX(-50px);
  }
}
