* {
  box-sizing: border-box;
}

body {
  background-color: #181818;
  color: #f2f2f2;
  font-family: "Poppins";
  font-size: 14px;

  @include md {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
  color: white;
}

.me {
  position: absolute;

  top: 130px;
  right: 10px;
  width: 200px;
  opacity: 0;
  transition: all 2s;
}

.opacity {
  opacity: 1;
  right: 300px;
  animation: moveMe 5s infinite;
}

#me {
  cursor: pointer;
}

::-moz-selection {
  background: $green;
  color: white;
}

::selection {
  background: $green;
  color: white;
}
