* {
  box-sizing: border-box;
}

body {
  background-color: var(--dark);
  color: var(--font-color);
  font-family: "Poppins";
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: none;

  @include md {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
  color: var(--font-color);
}

.me {
  position: absolute;
  top: 130px;
  right: 10px;
  width: 200px;
  opacity: 0;
  transition: all 2s;
}

.opacity {
  opacity: 1;
  right: 300px;
  animation: moveMe 5s infinite;
}

::-moz-selection {
  background: var(--green);
  color: white;
}

::selection {
  background: var(--green);
  color: white;
}

// LIGHTMODE
[data-mode="light"] {
  --green: #84af51;
  --darkgreen: #8baf5f62;
  --dark: white;
  --grey: #adadad;

  --font-color: #181818;
  --herocolor: #5b7738;
  --opacity: #181818;
  --switchcolor: rgb(197, 197, 197);

  .work__image {
    opacity: 0.5;
  }

  .hero__title {
    -webkit-text-stroke: 1.3px var(--green);
  }

  .about__text {
    -webkit-text-stroke: 1.3px var(--font-color);
  }

  .next {
    @include sm {
      background-image: url("../assets/img/nextprojectdark.png");
    }
  }
}
