$green: #84af51;
$dark: #181818;
$grey: #5f5f5f;

$sm: 768px;
$md: 1100px;
$lg: 1366px;

:root {
  --green: #84af51;
  --darkgreen: #475f2957;
  --dark: #181818;
  --grey: #5f5f5f;
  --opacity: rgba(255, 255, 255, 0.445);

  --font-color: white;

  --herocolor: white;
  --switchcolor: rgb(73, 73, 73);
}
