@import "vendors/reset";

@import "config/variables";
@import "config/font";
@import "config/medias";
@import "config/animations";
@import "config/global";

@import "blocs/header";
@import "blocs/hero";
@import "blocs/works";
@import "blocs/about";
@import "blocs/project";
@import "blocs/footer";
