.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  @include md {
    margin: 80px 120px;
    align-items: flex-start;
  }
  &__title {
    color: $green;
    letter-spacing: 12px;
  }

  &__text {
    margin-top: 20px;
    text-transform: uppercase;
    width: 80%;
    line-height: 26px;
    font-weight: 800;
    margin-top: 60px;
    font-size: 30px;
    line-height: 60px;
    z-index: 1;
    color: transparent;
    -webkit-text-stroke: 0.6px white;

    @include sm {
      font-size: 60px;
      line-height: 90px;
    }

    @include md {
      font-size: 80px;
      line-height: 110px;
      font-size: 60px;
      width: auto;
    }
    span {
      color: white;
    }
    em {
      color: white;
      -webkit-text-stroke: 0.6px white;
    }
  }

  &__infos {
    display: flex;
    flex-direction: column;
    width: 80%;
    @include sm {
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 40px;

      flex-direction: row;
    }

    @include md {
      width: 100%;
    }
  }

  &__subtitle {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 800;

    &--contact {
      color: $green;
    }
  }

  &__category {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 280px;
    font-size: 12px;
    @include sm {
      font-size: 14px;
      width: 340px;
    }
    @include md {
      width: 400px;
    }
  }

  &__list {
    line-height: 24px;
  }
  &__contact {
    color: $green;
    margin-top: 20px;
    text-decoration: underline;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;

    @include md {
      justify-content: start;
    }
  }
  &__downloadCV {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $dark;
    background-color: $green;
    font-weight: 600;
    border-radius: 4px;
    transition: 0.4s;
    width: 200px;
    height: 36px;
    &:hover {
      background-color: #475f29;
    }
    @include md {
      height: 42px;
    }
  }
}
