.goTop {
  position: fixed;
  top: 500px;
  display: flex;
  flex-direction: row;
  transform: rotate(-90deg);
  align-items: center;
  background-color: $green;
  height: auto;
  width: 180px;
  border-radius: 20px;
  color: $dark;

  &__dragon {
    font-size: 2em;
  }
}
