.header {
  margin: 20px 20px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-direction: row;

  @include sm {
    margin-bottom: 20px;
  }
  @include md {
    margin: 40px 40px 40px 40px;
  }

  &__left {
    flex: 1;
  }

  &__logo {
    font-weight: bold;
    font-size: 16px;

    @include md {
      font-size: 22px;
      margin-left: 40px;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-around;
    width: 150px;

    a {
      color: var(--opacity);

      &:hover {
        color: var(--font-color);
      }

      &.active {
        color: var(--font-color);
      }
    }
  }
}
