#home {
  display: none;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;

  @include lg {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-left: 20%;
    align-items: flex-start;
  }

  &__subtitle {
    font-size: 16px;

    @include md {
      font-size: 24px;
    }

    em {
      color: $green;
    }
  }

  &__title {
    font-weight: 800;
    margin-top: 50px;
    font-size: 38px;
    width: 300px;
    line-height: 50px;
    z-index: 1;
    color: transparent;
    -webkit-text-stroke: 0.6px $green;

    @include md {
      margin-top: 20px;
      font-size: 80px;
      line-height: 100px;
      font-size: 60px;
      width: auto;
    }
    em {
      color: white;
      -webkit-text-stroke: white;
    }
  }

  &__bonus {
    display: none;

    @include md {
      display: block;
      font-size: 25px;
      font-weight: 800;
      color: #475f29;
      opacity: 0.3;
    }
  }

  &__project {
    margin-top: 20px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $green;
    height: 30px;
    border-radius: 20px;
    font-size: 14px;
    color: $green;
  }
}
