.projects {
  margin-top: 80px;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;

  &__name {
    position: absolute;
    display: flex;
    font-weight: 900;
    font-size: 50px;
  }

  &__title {
    color: transparent;
    z-index: 1;
    position: absolute;
    -webkit-text-stroke: 1px white;
  }

  &__titleBlur {
    -webkit-text-stroke: 0.5px white;
    color: transparent;
    animation: blur 1s infinite alternate;
  }
}
