.projects {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  overflow: hidden;

  @include sm {
    margin: 80px 100px 0 100px;
  }

  @include md {
    margin: 80px 200px 0 200px;
  }
}

.project {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 10px;
  animation: moveLeft 9s infinite;

  @include md {
    display: flex;
  }

  &--right {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    animation: moveRight 10s infinite;
  }

  &__name {
    position: absolute;
    display: flex;
    font-weight: 900;
    font-size: 4em;
    cursor: pointer;

    @include sm {
      font-size: 6em;
    }

    @include md {
      font-size: 8em;
    }

    @include lg {
      font-size: 9em;
    }
  }

  &__title {
    color: transparent;
    z-index: 1;
    position: absolute;
    -webkit-text-stroke: 2px white;
  }

  &__titleBlur {
    -webkit-text-stroke: 0.5px white;
    color: transparent;
    animation: blur 1s infinite alternate;
  }

  &__image {
    width: 80%;
    opacity: 0.6;
    filter: grayscale(1);
    transition: filter 0.3s;
    cursor: pointer;

    &:hover {
      filter: none;
    }

    @include sm {
      width: 40%;
    }
    @include md {
      width: 50%;
    }

    &--right {
      transform: rotate(-180deg);
    }
  }
}

.banana {
  .project__title {
    -webkit-text-stroke: 1px #ffbb0e;
  }
  .project__titleBlur {
    -webkit-text-stroke: 1px #ffbb0e;
  }
}

.pizzo {
  .project__name {
    right: 40px;
  }
  .project__title {
    -webkit-text-stroke: 2px #ff5f2b;
  }
  .project__titleBlur {
    -webkit-text-stroke: 2px #ff5f2b;
  }
  .project__image {
    opacity: 0.4;
  }
}

.saletemps {
  .project__name {
    left: 40px;
  }
  .project__title {
    -webkit-text-stroke: 2px #1c77ff;
  }
  .project__titleBlur {
    -webkit-text-stroke: 2px #1c77ff91;

    @include sm {
      -webkit-text-stroke: 4px #1c77ff91;
    }
  }
  .project__image {
    opacity: 0.4;
  }
}

.progress {
  z-index: 3;
  height: 100%;
  width: 10px;
  position: fixed;
  height: 10px;
  top: 0;
  right: 0;

  @include md {
    width: 20px;
  }
}
.progressBar {
  background-color: $green;
}
