.projects {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  @include md {
    // display: flex;
    // flex-direction: row;
  }
}

.project {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 10px;
  animation: moveLeft 9s infinite;

  @include md {
    display: flex;
    border: 2px solid red;
  }

  &--right {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    animation: moveRight 10s infinite;
  }

  &__name {
    position: absolute;
    display: flex;
    font-weight: 900;
    font-size: 50px;
  }

  &__title {
    color: transparent;
    z-index: 1;
    position: absolute;
    -webkit-text-stroke: 2px white;
  }

  &__titleBlur {
    -webkit-text-stroke: 0.5px white;
    color: transparent;
    animation: blur 1s infinite alternate;
  }

  &__image {
    width: 80%;
    opacity: 0.6;
    filter: grayscale(1);

    &:hover {
      filter: none;
    }

    &--right {
      transform: rotate(-180deg);
    }
  }
}

.banana {
  // .project__name {
  //   font-family: "Playfair";
  //   font-size: 60px;
  // }
  .project__title {
    -webkit-text-stroke: 1px #ffbb0e;
  }
  .project__titleBlur {
    -webkit-text-stroke: 1px #ffbb0e;
  }
}

.pizzo {
  .project__name {
    right: 40px;
  }
  .project__title {
    -webkit-text-stroke: 2px #ff5f2b;
  }
  .project__titleBlur {
    -webkit-text-stroke: 2px #ff5f2b;
  }
  .project__image {
    opacity: 0.4;
  }
}

.saletemps {
  .project__name {
    // font-size: 70px;
    left: 40px;
    // font-family: "Cedarville";
    // font-weight: bold;
  }
  .project__title {
    -webkit-text-stroke: 2px #1c77ff;
  }
  .project__titleBlur {
    -webkit-text-stroke: 2px #1c77ff91;
  }
  .project__image {
    opacity: 0.4;
  }
}
