.overflow {
  @include sm {
    overflow: hidden;
  }
}

.works {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  @include sm {
    flex-direction: row;
    width: 100%;
    margin-top: 100px;
    transform: rotate(-5deg);
    margin-left: -50px;
  }
  @include lg {
    margin-top: 140px;
  }
  &Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include sm {
      display: flex;
      transition: all 2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      flex-direction: row;
    }
  }

  a {
    display: flex;
    justify-content: center;
  }
}

.work {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  @include sm {
    width: 400px;
    margin-left: 140px;
  }

  @include md {
    margin-left: 160px;
  }

  &__name {
    position: absolute;
    display: flex;
    font-weight: 900;
    font-size: 4em;
    cursor: pointer;
    top: 40%;

    @include sm {
      font-size: 6em;
    }

    @include md {
      z-index: 5;
    }
  }

  &__title {
    color: transparent;
    z-index: 1;
    position: absolute;
    -webkit-text-stroke: 2px white;
  }

  &__titleBlur {
    -webkit-text-stroke: 1px white;
    color: transparent;
    animation: blur 1s infinite alternate;
  }

  &__subtitle {
    display: none;

    @include sm {
      display: block;
      position: absolute;
      top: 20px;
      right: 50px;
      z-index: 2;
    }
  }

  &__image {
    width: 80%;
    height: 350px;
    opacity: 0.6;
    filter: grayscale(1);
    transition: filter 0.3s;
    cursor: pointer;
    opacity: 0.3;

    &:hover {
      filter: none;
    }

    @include sm {
      width: 100%;
      height: 100%;
    }
  }
}

.katana {
  .work__name {
    @include md {
      left: 10px;
    }
  }
  .work__title {
    -webkit-text-stroke: 2px #6958f6;
  }
  .work__titleBlur {
    -webkit-text-stroke: 2px #6958f6;
  }
}

.banana {
  .work__name {
    @include md {
      left: -20px;
    }
  }
  .work__title {
    -webkit-text-stroke: 1px #ffbb0e;
  }
  .work__titleBlur {
    -webkit-text-stroke: 1px #ffbb0e;
  }
}

.pizzo {
  .work__name {
    @include md {
      left: 50px;
    }
  }
  .work__title {
    -webkit-text-stroke: 2px #ff5f2b;
  }
  .work__titleBlur {
    -webkit-text-stroke: 2px #ff5f2b;
  }
}

.saletemps {
  .work__name {
    @include md {
      left: -80px;
    }
  }
  .work__title {
    -webkit-text-stroke: 2px #1c77ff;
  }
  .work__titleBlur {
    -webkit-text-stroke: 2px #1c77ff91;

    @include sm {
      -webkit-text-stroke: 4px #1c77ff91;
    }
  }
}

.next {
  display: none;

  @include sm {
    display: block;
    z-index: 85;
    position: absolute;
    right: 80px;
    bottom: 100px;
    cursor: pointer;
    animation: rotate 10s infinite alternate;
  }

  @include lg {
    bottom: 200px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(180deg);
  }
}
